@page "/"

<h1>Hello, world!</h1>
<h2>Welcome to sample TON BLazor WASM Client</h2>
<p>This is simple SPA application without backend just static content</p>
<br/>
<p>Make sure that you have installed and run local TON Node:</p>
<p><code>npm install -g ton-dev-cli</code></p>
<p><code>ton start</code></p>