@page "/"

<div class="jumbotron">
  <h1 class="display-4">Welcome to sample TON Blazor WASM Client!</h1>
  <p class="lead">This is simple SPA application without backend just static content</p>
  <hr class="my-4">
  <h3>Make sure that you have installed and run local TON Node:</h3>
  <p><code>npm install -g ton-dev-cli</code></p>
  <p><code>ton start</code></p>
  <br/>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/ton-actions/ton-client-blazor" role="button">Learn more on GitHub</a>
  </p>
</div>
